@import 'styles/base';

@mixin buttonBase($base-color, $focus-color) {
  padding: 0.5rem 2rem;
  margin: $border-width;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $base-color;
  color: invert($base-color);
  border: 0;
  outline: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 2rem;
  transition: ease-out 0.1s padding, ease-out 0.1s box-shadow;
  user-select: none;

  @include tablet {
    min-width: 8rem;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$border-width;
    left: 0;
    border-top: $border-width white solid;
    border-bottom: $border-width white solid;
  }

  &:after {
    left: -$border-width;
    top: 0;
    border-left: $border-width white solid;
    border-right: $border-width white solid;
  }

  &:hover {
    background-color: invert($base-color);
    color: $base-color;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
      $focus-color;
    padding: calc(0.5rem - #{$shadow-width}) calc(2rem + #{$shadow-width})
      calc(0.5rem + #{$shadow-width}) calc(2rem - #{$shadow-width});
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $focus-color;
    padding: calc(0.5rem + #{$shadow-width}) calc(2rem - #{$shadow-width})
      calc(0.5rem - #{$shadow-width}) calc(2rem + #{$shadow-width});
  }
}

.invertButton {
  @include buttonBase(darken(white, 10%), lighten(black, 30%));
}

.button {
  @include buttonBase(black, darken(white, 10%));
}
