@import '../../../styles/base';

.toggleButton {
  height: $btn-size;
  width: $btn-size;
  margin: $btn-indent;
  padding: 0.5rem;
  background: transparent;
  background-size: cover;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  transition: ease-out 0.1s transform;

  &:hover {
    transform: translate(-$btn-indent, -$btn-indent);
  }

  &:active {
    transform: translate($btn-indent, $btn-indent);
  }
}
