@import '../../styles/base';

.container {
  max-width: 450px;
  width: 100%;

  &.center {
    margin: auto;
  }

  @include mobile {
    margin: auto;
  }
}

.backgroundImg {
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter 1s linear;

  &.blur {
    filter: blur(10px);
    opacity: 0.5;
  }
}
