@import './base';

html,
body {
  background-color: black;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  color: white;
}

*,
*:before,
*:after {
  font-family: 'VT323', 'Helvetica Neue';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
  font-size: 2.3rem;
  font-weight: normal;
  margin: 0;
}

p,
span {
  font-size: 2rem;
  margin: 0;
}
