$btn-indent: 2px;
$btn-size: 3rem;

.container {
  width: 100%;
  max-width: 100%;
}

.buttonRow {
  display: flex;
  justify-content: center;
  .controlBtn {
    height: $btn-size;
    width: $btn-size;
    cursor: pointer;
    transition: ease-out 0.1s transform;

    &:hover {
      transform: translate(-$btn-indent, -$btn-indent);
    }

    &:active {
      transform: translate($btn-indent, $btn-indent);
    }
  }

  .play,
  .pause {
    margin: 0 1rem;
  }
}

.trackName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem 2rem;

  .bufferingIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    flex-shrink: 0;
    animation: spin 5s infinite linear;
  }

  .musicIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    flex-shrink: 0;
    cursor: pointer;
    transition: ease-out 0.1s transform;

    &:hover {
      transform: translate(-$btn-indent, -$btn-indent);
    }

    &:active {
      transform: translate($btn-indent, $btn-indent);
    }
  }

  .marquee {
    width: 100%;
    max-width: 400px;
    white-space: nowrap;
    span {
      font-size: 1.3rem;
      line-height: 1.3rem;
    }
  }
}

.volumeControl {
  width: 300px;
  max-width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
