@import '../../../styles/base';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  opacity: 0;
  height: 450px;
  animation: fadeIn 1s ease-out forwards, fadeOut 1s ease-in forwards 9s;
}

.circleExpand {
  position: absolute;
  max-width: 100%;
  width: 350px;
  height: 350px;
  animation: circleExpand 10s ease-in-out forwards;
}

.skipButton {
  position: absolute;
  bottom: -1rem;
}

@keyframes circleExpand {
  0% {
    transform: scale(0.2);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.2);
    opacity: 0.5;
  }
}
