@import '../../styles/base';
.wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 2rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin: auto;
    max-width: 500px;
  }
}

.center {
  width: 100%;
  flex: 0 3 300px;
  @include tablet {
    flex: 1;
    flex-basis: 100%;
    order: 1;
  }
}

.left {
  width: auto;
  flex: 0 2 200px;
  @include tablet {
    flex: 1;
    flex-basis: 0;
    order: 2;
  }
}

.right {
  width: auto;
  flex: 0 1 200px;
  min-width: 180px;
  @include tablet {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
  }
}
