@import 'styles/base';
.wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.center {
  width: 100%;
  flex: 0 1 400px;
  @include tablet {
    flex-basis: 0;
  }
}

.left {
  width: 100%;
  flex: 0 2 200px;
  @include tablet {
    flex-basis: 0;
  }
}

.right {
  width: 100%;
  flex: 0 1 200px;
  min-width: 180px;
  @include tablet {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
    min-width: 100%;
  }
}
