$thumb-width: 0.5rem;
$thumb-height: 1.5rem;
$track-height: 0.8rem;
$track-max-width: 200px;
$border-width: 2px;

.container {
  display: flex;
  align-items: center;
}

.muteBtn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.slider {
  height: 1.5rem;
  padding: 0 1rem;
  &[type='range'] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    max-width: $track-max-width;
    background: transparent; /* Otherwise white in Chrome */
  }

  &[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &[type='range']:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  &[type='range']::-ms-track {
    width: 100%;
    max-width: $track-max-width;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $thumb-width;
    height: $thumb-height;
    background: #ffffff;
    cursor: pointer;
    margin-top: -0.5rem;
  }

  /* All the same stuff for Firefox */
  &::-moz-range-thumb {
    width: $thumb-width;
    height: $thumb-height;
    background: #ffffff;
    cursor: pointer;
  }

  /* All the same stuff for IE */
  &::-ms-thumb {
    height: $thumb-height;
    width: $thumb-width;
    background: #ffffff;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    max-width: $track-max-width;
    height: $track-height;
    cursor: pointer;
    border: 2px solid white;
  }

  &::-moz-range-track {
    width: 100%;
    max-width: $track-max-width;
    height: $track-height;
    cursor: pointer;
    border: 2px solid white;
  }

  &::-ms-fill-lower {
    border: 2px solid white;
  }

  &::-ms-fill-upper {
    border: 2px solid white;
  }
}
