@import 'styles/base';

.container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  max-width: calc(#{$max-site-width} + 10rem);
  padding: 0 calc(1rem + 3vw);
  margin: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.pomo {
  max-width: calc(#{$max-site-width} - 10rem);
  width: 100%;
  margin: auto;
}

.lofi {
  max-width: $max-site-width;
  margin: auto;
  width: 100%;
  flex: 0 1 180px;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
