@import 'styles/base';

.container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  max-width: calc(#{$max-site-width} + 10rem);
  padding: 0 calc(1rem + 3vw);
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;
}

.pomo {
  max-width: calc(#{$max-site-width} - 10rem);
  z-index: 1;
  width: 100%;
  margin: auto;
}

.lofi {
  max-width: $max-site-width;
  margin: auto;
  width: 100%;
  flex: 0 1 180px;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
